$board-size: 500px;

.board {
  width: $board-size;
  height: $board-size;
  border-spacing: 0;
  & td {
    background-color: rgb(241, 231, 156);
  }

  & tr:nth-child(2n) > td:nth-child(2n + 1) {
    background-color: #000;
  }

  & tr:nth-child(2n + 1) > td:nth-child(2n) {
    background-color: #000;
  }
}
